@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



body {
    width: 100%;
    margin: 0 0 0 auto;
    font: normal 400 1.2em/1.4 Raleway, sans-serif;
    overflow: auto;
}


h1 {
    font: normal normal 2em/1.6 Yeseva One, serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}


h2 {
    font: normal 700 1.2em/1.4 Raleway, sans-serif;
    /* text-transform: uppercase; */
}

a {
    font: normal 200 1.2em/1.4 Raleway, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    letter-spacing: .05em;
    /* text-transform: uppercase; */
}

/* body is automatically Montserrat Regular 16pt, only change whats needed*/




#hide-mobile {
    display: none;
}

/* Mobile navigation */
nav {
    height: 10vh;
    border: 5px solid fuchsia;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 5vh;
    padding: 2% 5% 0% 3%;
    z-index: 9999;
}


#menu {
    flex-basis: 100vw;
    height: auto;
    box-sizing: border-box;
    display: flex;
    background-color: bisque;
    justify-content: space-between;
}

#logo {
    
}

#nav-logo {
    /* flex-basis: 30%; */
    width: 100%;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    background-image: url("/images/brand-assets/cmxxix-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

#cart-icon {
    width: 25px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    background-image: url("/images/brand-assets/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

#hamburger-icon {
    width: 25px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    background-image: url("/images/brand-assets/hamburger-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}




/* Slide in menu with page links */


#menu-expand {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(200vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 1000;
    box-sizing: border-box;
    background-color: #ffffff;
    align-content: right;
}

#menu-expand.show {
    transform: translate3d(0vw, 0, 0);
}


.menu {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.menu a {
    color: black;
    text-align: center;
    padding: 0em 2em;
    text-decoration: none;
    font: normal 400 1.2em/1.4 Raleway, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
}
  
.menu a:hover {
    color: blueviolet;
    font-family: serif;
}

button#x-close {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

button#x-close:hover {
    color: cadetblue;
}

/* Home Hero Block */

.home-hero {
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
    background-color: firebrick;
}



#img-3 {
    width: 100%;
    position: absolute;
    top: 10vh;
    left: 12%;
}

.heading-block-outer {
    display: flex;
    flex-basis: 88%;
    width: 80%;
    position: absolute;
    top: 60vh;
    left: 5%;
    background-color: lemonchiffon;
    margin: 0 auto;
    padding: 1% 5%;    
}

/* Home - Featured Collection */

.featured-collection {
    display: block;
}

.feat-image {
    width: 100vw;
    height: 30vh;

}

.feat-image img {
    width: 100vw;
    height: auto;
    background-color: cadetblue;
    box-sizing: border-box;
}

/* category pages */


.category-hero {
    width: 100vw;
    height: 100vh;
    border: 30px solid peachpuff;
    box-sizing: border-box;
}

#tops-hero {
    background-image: url(/images/clothingmodels-37.jpg)
}



@media screen and (min-width: 600px) {
    
main {
    padding-top: 12vh;
}

nav {
    z-index: 1000;
    margin: 0;
}

#hide-mobile {
    display: block;
}

.home-hero {
    height: 100vh;
    z-index: 1;
}

.image-collage {
    display: flex;
}

.home-images {
    display: flex;
}

.feat-home {
    max-width: 100%; 
    display: flexbox;
}

#img-1 {
    width: 25%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 20%;
}

#img-2 {
    width: 55%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 5%;
}

#img-3 {
    width: 30%;
    height: auto;
    position: absolute;
    top: 30vh;
    left: 50%;
}

.heading-block-outer {
    display: flex;
    flex-basis: 40%;
    position: absolute;
    top: 55vh;
    left: 10%;
    background-color: lemonchiffon;
    margin: 0 auto;
    padding: 1% 5%;
}


.featured-collection {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}



.featured-collection#content {
    flex-basis: 35%;
    height: 20vh;
    background-color: chartreuse;
}




.product-image-feat:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}


.feat-product-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.feat-product-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.product-image-feat {
    flex-basis: 24.5%;
    /* width: 100%; */
    position: relative;
}

#feat-1 {
    /* position: absolute;
    width: 100%;
    height: 100%; */
    background-color: grey; 
    background-image: url(/images/clothingmodels-17.jpg);
    background-size: cover;
}




.product-image-home {
    flex-basis: 16%;
    width: 100%;
    position: relative;
}


.product-image-home:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#product-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey; 
    background-image: url(/images/clothingmodels-17.jpg);
    background-size: cover;
}

.section-heading-container {
    display: flex;
    justify-content: center;
}

.section-block {
    width: 50%;
    padding: 3% 6%;
    background-color: honeydew;
}



  }